@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* font-family: 'Manrope', sans-serif; */

.card__share-box.visible {
    display:flex;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --dark-gray-blue : hsl(217, 19%, 35%);
    --desatured-dark-blue : hsl(214, 17%, 51%);
    --grayish-blue : hsl(212, 23%, 69%);
    --light-graywish-blue : hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    color: var(--desatured-dark-blue);
}

main {
    min-width:100vw;
    min-height:100vh;
    background-color: var(--light-graywish-blue);
    display:flex;
    justify-content: center;
    padding:1.5rem;
}

img {
    max-width: 100%;
}

.card {
    max-width: 400px;
    background-color: white;
    border-radius:10px;
    height: fit-content;
    position: relative;
}

.card__illustration {
    max-height:225px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card__content {
    padding : 1.75rem;
}

.card__title {
    margin-bottom: 1rem;
}

.card__description {
    margin-bottom: 2rem;
}

.card__title {
    color: var(--dark-gray-blue);
    font-size: 17px;
}

.card__author {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.card__author__details {
    display:flex;
    align-items: center;
    gap:10px;
}

.card__author__image {
    max-width:45px;
    max-height: 45px;
    border-radius: 50%;
}

.card__author__name {
    color : var(--dark-gray-blue);
    font-weight: 700;
}

.card__author__date {
    color : var(--graywish-blue);
}

.card__share {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-graywish-blue);
    color: var(--dark-gray-blue);
    border-radius: 50%;
    padding:0.5rem;
    width:35px;
    height: 35px;
    cursor: pointer;
    border:none;
}

.card__share:hover {
    background-color: var(--dark-gray-blue);
}

.card__share:hover img {
    filter: brightness(3);
}

.card__share-box {
    z-index:10;
    position: absolute;
    bottom:0;
    left:0;
    background-color: var(--dark-gray-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;
    height:15%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}

.card__share-box__logo {
    display: flex;
    gap:12px;
}

.card__share-box p {
    color:var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-right:8px;
}

.card__share-box__share {
    background-color: var(--desatured-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding:0.5rem;
    width:35px;
    height: 35px;
}

.card__share-box__share img {
    filter: brightness(3);
}

@media (min-width:600px){
    .card {
        display: flex;
        max-width: 750px;
    }

    main {
        align-items: center;
    }

    .card__illustration {
        width:40%;
        max-height: fit-content;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .card__share {
        position: relative;
    }

    .card__share-box {
        position: absolute;
        height:fit-content;
        width:fit-content;
        min-width:240px;
        top:-70px;
        left:-100px;
        border-radius: 10px;
        padding:1rem 2rem;
    }

    .card__share-box:before {
        content: '';
        width: 35px;
        height: 35px;
        background-color: var(--dark-gray-blue);
        position: absolute;
        transform: rotate(45deg) translate(-25%, 50%);
        bottom: 0;
        left: 50%;
        z-index: -1;

    }

    .card__share-box__share {
        display:none;
    }

}

